
@{
    ViewBag.Title = "NewsAndUpdate";
}

<div id="main">

    <!--Breadcrumb Section Start Here-->

    <!--Breadcrumb Section End Here-->
    <!-- cause page Start Here-->
    <div class="cause-page content-wrapper" id="page-info">
        <div class="container">
            <!-- our causes detail-->
            <div class="anim-section animate">
                <div class="row">
                    <div class="col-xs-12 col-sm-9 left-block event_page">
                        <div class="event-listing">
                            <div class="event_detail">
                                <figure>
                                    <img src="~/Images/NewsAndUpdate/Mahfil-e-Mila-Muhammad-SAW_-AMOURS.jpeg" class="attachment-post-thumbnail wp-post-image" alt="event-img" width="847" height="358">
                                </figure>
                                <div class="event_date">
                                    <strong>12</strong>
                                    <span>Apr</span>
                                </div>
                            </div>
                            <div class="event_heading clearfix">
                                <h2><a href="event-heading-here-4/index.html">MAHFIL-E-MILAD MUHAMMAD (SAW)- AMOURS</a></h2>
                                <div class="event_time clearfix">
                                    <div class="venue_block">
                                        <div class="location-svg">
                                            <img src="../wp-content/themes/charity/assets/svg/location.svg" alt="" class="svg">
                                        </div>
                                        <span>Venue :</span>
                                        <strong>Punjab Small Industries</strong>
                                    </div>
                                    <div class="date_block">
                                        <div class="date-svg">
                                            <img src="../wp-content/themes/charity/assets/svg/calendar.svg" alt="" class="svg">
                                        </div>
                                        <span>Date :</span>
                                        <strong>12-04-2018</strong>
                                    </div>
                                    <div class="time_block">
                                        <div class="time-svg">
                                            <img src="../wp-content/themes/charity/assets/svg/timer.svg" alt="" class="svg">
                                        </div>
                                        <span>Time :</span>
                                        <strong>7:00 PM</strong>
                                    </div>
                                </div>
                                <div class="event_descriptions">
                                    <p>AMOURS is organizing  Mahfil-e-Mila Muhammad SAW at E-74 Punjab Small Industries Housing Society Lahore Dated  April, 12 2018 after Namaz-Magrib. All of you are warmly welcomed to participate in this Mafil-e-Melad.</p>
                                    <p><a href="event-heading-here-4/index.html" class="btn btn-default">Read More</a></p>
                                </div>
                            </div>
                        </div>
                        <div class="event-listing">
                            <div class="event_detail">
                                <figure>
                                    <img src="../wp-content/uploads/2015/06/event-img.jpg" class="attachment-post-thumbnail wp-post-image" alt="event-img" width="847" height="358">
                                </figure>
                                <div class="event_date">
                                    <strong>12</strong>
                                    <span>Apr</span>
                                </div>
                            </div>
                            <div class="event_heading clearfix">
                                <h2><a href="event-heading-here-3/index.html">GET REGISTERED YOURSELF WITH AMOUR</a></h2>
                                <div class="event_time clearfix">
                                    <div class="venue_block">
                                        <div class="location-svg">
                                            <img src="../wp-content/themes/charity/assets/svg/location.svg" alt="" class="svg">
                                        </div>

                                        <span>Venue :</span>
                                        <strong>Noida</strong>
                                    </div>
                                    <div class="date_block">
                                        <div class="date-svg">
                                            <img src="../wp-content/themes/charity/assets/svg/calendar.svg" alt="" class="svg">
                                        </div>
                                        <span>Date :</span>
                                        <strong>15-07-2015</strong>
                                    </div>
                                    <div class="time_block">
                                        <div class="time-svg">
                                            <img src="../wp-content/themes/charity/assets/svg/timer.svg" alt="" class="svg">
                                        </div>
                                        <span>Time :</span>
                                        <strong>12:00 AM</strong>
                                    </div>
                                </div>
                                <div class="event_descriptions">
                                    <p>Amour’s struggle is to improve the living standard of special person. Our mission is to be the voice of people with disabilities helping them achieve full participation and equal status in the society through independent living . Now , you can register yourself with amour to spread love and peace.</p>
                                    <p><a href="event-heading-here-3/index.html" class="btn btn-default">Read More</a></p>
                                </div>
                            </div>
                        </div>


                    </div>
                    <div class="col-xs-12 col-sm-3 left-block">
                        <aside class="media">
                            <div class="text-widget">
                                <h3>LATEST PROJECTS</h3>
                                <ul>
                                    <li>
                                        <p>Amour- Fanoon-e-Khas Handicraft Exhibition</p>
                                        <h6>October 30, 2015 - 5:09 pm</h6>
                                    </li>
                                    <li>
                                        <p>Amour-Medical Camp</p>
                                        <h6>October 30, 2015 - 5:07 pm</h6>
                                    </li>
                                    <li>
                                        <p>Activity for Mobilization of Disabled Person</p>
                                        <h6>October 21, 2015 - 3:47 pm</h6>
                                    </li>
                                </ul>
                            </div>
                            <aside class="media">
                                <h3>Archives</h3>
                                <ul class="archives">
                                    <li><a href="../2015/04/index.html">April 2015</a>&nbsp;(6)</li>

                                </ul>
                            </aside>

                        </aside>
                    </div>
                </div>
            </div>
            <!-- our causes detail-->
        </div>
    </div>
</div>